@charset "utf-8";

header img {
    width: 100%;
    height: 400px;
}

h1 {
    margin-top: 2rem;
    margin-left: 3rem;
    color: #5B63F6;
    font-weight: 400;
}

section {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

section img {
    width: 100%;
    height: 80%;
}

section div {
    display: flex;
    align-items: center;      /* 上下中央 */
    justify-content: center;  /* 左右も中央（オプション） */
}

img {
    width: 20%;
    height: 20%;
}